@use "../../../styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titles {
  width: 830px;
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: row;
}
.checkoutTitle {
  font-size: 18px;
  font-weight: bold;
  color: $base-subtitle;
  line-height: 130%;
  font-family: "Baloo 2";
  margin-bottom: 15px;
}

.checkoutWrapper {
  width: 640px;
  height: 372px;
  background-color: $base-card;
  padding: 40px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.checkoutAdress {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 32px;

  .ph-map-pin-line {
    font-size: 22px;
    color: $yellow-dark;
  }
}

.checkoutSubtitle {
  line-height: 130%;
  font-weight: 400;

  p {
    font-size: 16px;
    line-height: 130%;
    color: $base-subtitle;
  }

  span {
    font-size: 14px;
    color: $base-text;
  }
}

.selectedCoffee {
  width: 448px;
  height: 498px;
  background-color: $base-card;
  padding: 40px;
  border-radius: 6px 44px 6px;
  margin-left: 32px;
  margin-bottom: 0px;
}

.gridCep,
.gridNeighborhoodAndCity,
.gridNumberAndComplement,
.gridStreet {
  display: grid;
  margin-bottom: 16px;
}

.gridCep {
  grid-template-columns: 200px;
}

.gridStreet {
  grid-template-columns: repeat(1fr);
}

.gridNumberAndComplement {
  grid-template-columns: 200px 2fr;
  gap: 12px;
}

.gridNeighborhoodAndCity {
  grid-template-columns: 200px 1fr 60px;
  gap: 12px;
}

.paymentWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  background-color: $base-card;
  width: 640px;
  height: 207px;
  padding: 40px;
  border-radius: 6px;

  .ph-currency-dollar {
    font-size: 22px;
    color: $purple;
  }
}

.payment {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-bottom: 32px;
}
.paymentSubtitle {
  line-height: 130%;
  font-weight: 400;

  p {
    font-size: 16px;
    line-height: 130%;
    color: $base-subtitle;
  }

  span {
    font-size: 14px;
    color: $base-text;
  }
}

.methodPayment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  p {
    font-size: 14px;
    color: $base-text;
  }
  span {
    font-size: 16px;
    color: $base-text;
  }
}

.infoItem.total {
  font-weight: bold;
  line-height: 130%;
  color: $base-subtitle;
  margin-bottom: 24px;
  p,
  span {
    font-size: 20px;
  }
}
