<div class="coffeeWrapper">
  <img src="/assets/coffees/tradicional.png" width="64" />
  <div class="titleAndQuantity">
    <p>Expresso tradicional</p>
    <div class="quantityAndRemove">
      <div class="quantity">
        <button><i class="ph ph-minus"></i></button>
        <p>1</p>
        <button><i class="ph ph-plus"></i></button>
      </div>
      <button class="trashButton">
        <i class="ph ph-trash"></i>
        <p>remover</p>
      </button>
    </div>
  </div>
  <p class="value">R$ 9,90</p>
</div>
<div class="separator"></div>
