@use "../../../styles/variables" as *;

main {
  height: 544px;
  background-size: cover;
  margin-left: -160px;
  margin-right: -160px;
  width: calc(100% + 320px);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
  }

  .title-container {
    width: 588px;
    margin-bottom: 140px;

    h1 {
      font-family: "Baloo 2", sans-serif;
      line-height: 130%;
      font-size: 48px;
      font-weight: 700;
      color: $base-title;
      margin-bottom: 1rem;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;
      color: $base-subtitle;
      margin-bottom: 66px;
    }
  }

  .icons-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 570px;
  }
}

.coffe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.title-coffe {
  font-family: "Baloo 2";
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: $base-subtitle;
  margin-bottom: 54px;
}
