<main>
  <div class="container" [style.background]="backgroundGradient">
    <div class="title-container">
      <h1>Encontre o café perfeito para qualquer hora do dia</h1>
      <p>
        Com o Coffee Delivery você recebe seu café onde estiver, a qualquer
        hora.
      </p>
      <div class="icons-list">
        <app-icon-with-text
          *ngFor="let iconText of iconAndTextList"
          [data]="iconText"
        ></app-icon-with-text>
      </div>
    </div>
    <img
      src="/assets/main-coffe.svg"
      alt="foto de um copo de café"
      width="476"
      height="360"
    />
  </div>
</main>
<section>
  <h3 class="title-coffe">Nossos cafés</h3>
  <div class="coffe-card">
    <div class="img">
      <img src="/assets/coffe.svg" width="120px" height="120px" />
    </div>
    <div class="detail-card">
      <p>Tradicional</p>
    </div>
    <div class="nameAndDescriptionCoffe">
      <h4>Expresso Tradicional</h4>
      <p>O tradicional café feito com água quente e grãos moídos</p>
    </div>
  </div>
</section>
