@use "../../../styles/variables" as *;

main {
  height: 544px;
  background-size: cover;
  margin-left: -160px;
  margin-right: -160px;
  width: calc(100% + 320px);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}

.title-container {
  width: 588px;

  h1 {
    font-family: "Baloo 2", sans-serif;
    line-height: 130%;
    font-size: 48px;
    font-weight: 700;
    color: $base-title;
    margin-bottom: 1rem;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: $base-subtitle;
  }
}
