<div class="coffe-card">
  <div class="img">
    <img [src]="image" width="120px" height="120px" />
  </div>
  <div class="detail-card">
    <p>{{ detail }}</p>
  </div>
  <div class="nameAndDescriptionCoffe">
    <h4>{{ title }}</h4>
    <p>{{ subtitle }}</p>
  </div>
  <div class="valueAndQuantity">
    <div class="value">
      <span>R$</span>
      <p>9,90</p>
    </div>
    <div class="quantity">
      <button>
        <i class="ph ph-minus"></i>
      </button>
      <p>1</p>
      <button>
        <i class="ph ph-plus"></i>
      </button>
    </div>
    <div class="cart">
      <i class="ph-fill ph-shopping-cart"></i>
    </div>
  </div>
</div>
