@use "../../../../styles/variables" as *;

.coffe-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 256px;
  height: 310px;
  background: $base-card;
  border-radius: 6px 36px 6px 36px;
  position: relative;
  padding: 2px;

  .img {
    position: absolute;
    top: -20px;
  }

  .detail-card {
    position: relative;
    background-color: $yellow-light;
    color: $yellow-dark;
    padding: 4px 8px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 16px;
    margin-top: 88px;
  }
  .nameAndDescriptionCoffe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4 {
      font-family: "Baloo 2";
      font-size: 20px;
      line-height: 130%;
      font-weight: 700;
      margin-bottom: 8px;
      color: $base-subtitle;
    }
    p {
      font-size: 14px;
      line-height: 130%;
      font-weight: 400;
      color: $base-label;
      text-align: center;
    }
  }
}
.valueAndQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
}

.value {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 23px;
  span {
    font-size: 14px;
    line-height: 130%;
    color: $base-text;
  }
  p {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    font-family: "Baloo 2";
  }
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $base-button;
  padding: 8px;
  border-radius: 6px;
  width: 72px;
  margin-right: 8px;
  button {
    border: none;
    background: none;
    cursor: pointer;
    .ph {
      font-size: 14px;
      color: $purple;
      font-weight: 700;
    }
  }
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: $purple-dark;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  .ph-fill {
    font-size: 22px;
    color: $white;
  }
}
